.container {
  max-width: 960px; }
.header {
  margin-top: 6rem;
  text-align: center; }
.navbar {
  display: none; }

/* --- sections ----- */
.section{
  padding: 7rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.0rem;
}
/*.general, .health, .education{
  border-bottom: 1px solid #ddd;
}*/

/* Larger than phone */
@media (min-width: 550px) {
  .header {
    margin-top: 10rem; }
  .value-props {
    margin-top: 9rem;
    margin-bottom: 7rem; }
  .value-img {
    margin-bottom: 1rem; }
  .example-grid .column,
  .example-grid .columns {
    margin-bottom: 1.5rem; }
  .docs-section {
    padding: 6rem 0; }
  .example-send-yourself-copy {
    float: right;
    margin-top: 12px; }
  .example-screenshot-wrapper {
    position: absolute;
    width: 48%;
    height: 100%;
    left: 0;
    max-height: none; }
}

/* Larger than tablet */
@media (min-width: 750px) {
  /* Navbar */
  .navbar + .docs-section {
    border-top-width: 0; }
  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee; }
  .navbar-spacer {
    display: none; }
  .navbar > .container {
    width: 100%; }
  .navbar-list {
    list-style: none;
    margin-bottom: 0;
    margin-left: 30%;
    margin-right: 15%;
  }
  .navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0; }
  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222; }
  .navbar-link.active {
    color: #33C3F0; }
  .has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0; }
  .has-docked-nav .navbar-spacer {
    display: block; }
  /* Re-overiding the width 100% declaration to match size of % based container */
  .has-docked-nav .navbar > .container {
    width: 80%; }
/* map style */
#map {width: 100%; height: 600px; background-color: #F7CE86;}
    .leaflet-popup-content li {list-style:none;}
    .leaflet-popup-content {width: 150px;}
    .leaflet-popup-content img {width: 140px;}
    a {border: none;}

    .colorText {
color: #FF4646;
text-transform: uppercase;
font-weight: 700;
}